MYSQL_ROOT_PASSWORD=change-me
DB_NAME=reservation_db
DB_USERNAME=reservation_app
DB_PASSWORD=change-me

DB_URL=jdbc:mysql://localhost:3307/reservation_db?serverTimezone=UTC

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
